.admin-page {
  margin-top: 3rem;
  max-width: 960px;
}

.admin-header {
  margin-bottom: 2rem;
}

.admin-title {
  font-weight: 600;
  margin-bottom: 1rem;
}


.admin-nav .nav-link {
  color: #555;
  font-weight: 400;
  padding: 0.4rem 1.2rem;
  border-radius: 999px;
  margin: 0 0.3rem;
}

.admin-nav .nav-link:hover {
  color: #000;
  background-color: #f1f1f1;
}

.admin-nav .nav-link.active {
  background-color: #171c26;
  color: #fff;
}


.admin-content {
  margin-top: 1rem;
}
