@if (isAdmin() ) {
  <div class="admin-section mb-4">

    <div class="d-flex align-items-start gap-3 mb-1">
      <div class="d-flex flex-column">
        <label class="form-label mb-1">Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Search name"
          [(ngModel)]="searchName"
          (ngModelChange)="onFiltersChanged()"
        />
      </div>

      <div class="d-flex flex-column">
        <label class="form-label mb-1">E-Mail:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Search email"
          [(ngModel)]="searchEmail"
          (ngModelChange)="onFiltersChanged()"
        />
      </div>
      <div class="d-flex flex-column">
        <label class="form-label mb-1">Role:</label>
        <select class="form-select w-auto" [(ngModel)]="selectedFilter" (ngModelChange)="onFiltersChanged()">
          <option value="all">All</option>
          <option value="admin">Admins</option>
          <option value="user">Users</option>
        </select>
      </div>

      <div class="d-flex flex-column">
        <label class="form-label mb-1">Status:</label>
        <select class="form-select w-auto" [(ngModel)]="selectedFilterlock" (ngModelChange)="onFiltersChanged()">
          <option value="all">All</option>
          <option value="unlocked">Unlocked</option>
          <option value="locked">Locked</option>
        </select>
      </div>

    </div>

    @if (error) {
      <div class="alert alert-danger admin-alert" *ngIf="error && errorMessage" (click)="error = false">
        {{ errorMessage }}
      </div>
    }

    @if (users?.length > 0) {
      <div>
        <div class="p-0">
          <table class="table table-striped mb-0 admin-table" style="border:  white">
            <thead>
            <tr>
              <th>name</th>
              <th>e-mail</th>
              <th>role</th>
              <th>status</th>
              <th>actions</th>
            </tr>
            </thead>
            <tbody>
              @for (u of users; track u.email) {
                <tr>
                  <td>{{ u.name }}</td>
                  <td>{{ u.email }}</td>
                  <td>{{ u.admin ? 'Admin' : 'User' }}</td>
                  <td>{{ u.locked ? 'Locked' : 'Unlocked' }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn"
                      [ngClass]="u.locked ? 'btn-outline-danger bi bi-lock me-2' : 'btn-outline-success bi bi-unlock me-2' "
                      data-bs-toggle="modal"
                      data-bs-target="#confirmLockModal"
                      title="Locks/Unlocks the user"
                      (click)="openConfirmDialog(u.id, u.locked, u.email)">
                    </button>

                    <button
                      type="button"
                      class="btn btn-outline-danger bi bi-trash me-2"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmDeleteModal"
                      title="Deletes the user"
                      (click)="openConfirmDelete(u.id, u.email)">
                    </button>

                    <button
                      type="button"
                      class="btn btn-outline-primary bi bi-bootstrap-reboot me-2"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmResetModal"
                      title="Reset the user's password and unlock the account"
                      (click)="openConfirmResetDialog(u.id, u.email)">
                    </button>


                  </td>
                </tr>
                }

            </tbody>
          </table>

          @if (totalPages > 1) {
            <nav class="mt-3 pagination-sticky d-flex justify-content-center">
              <ul class="pagination mb-4 pagination-circle">

                <!-- FIRST PAGE -->
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <button class="page-link" type="button" (click)="goToFirstPage()">
                    <i class="bi bi-chevron-double-left"></i>
                  </button>
                </li>

                <!-- PREV -->
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <button class="page-link" type="button" (click)="prevPage()">
                    <i class="bi bi-chevron-left"></i>
                  </button>
                </li>

                @for (p of visiblePages; track p) {
                  <li class="page-item" [class.active]="p === currentPage">
                    <button class="page-link" type="button" (click)="goToPage(p)">
                      {{ p }}
                    </button>
                  </li>
                }

                <!-- NEXT -->
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <button class="page-link" type="button" (click)="nextPage()">
                    <i class="bi bi-chevron-right"></i>
                  </button>
                </li>

                <!-- LAST PAGE -->
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <button class="page-link" type="button" (click)="goToLastPage()">
                    <i class="bi bi-chevron-double-right"></i>
                  </button>
                </li>

              </ul>
            </nav>
          }

          <div class="modal fade" id="confirmResetModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title">
                    Reset password
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                  <p>
                    Are you sure you want to
                    <strong>reset the password from</strong>
                    this user:
                    <br>
                    {{ emailUser }}
                  </p>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                  </button>
                  <button
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    (click)="confirmToggleReset()">
                    Yes, confirm
                  </button>
                </div>

              </div>
            </div>
          </div>


          <div class="modal fade" id="confirmLockModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title">
                    {{ selectedUserLocked ? 'Unlock user' : 'Lock user' }}
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                  <p>
                    Are you sure you want to
                    <strong>{{ selectedUserLocked ? 'unlock' : 'lock' }}</strong>
                    this user:
                    <br>
                    {{ emailUser }}
                  </p>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                  </button>
                  <button
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    (click)="confirmToggleLock()">
                    Yes, confirm
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="modal fade" id="confirmDeleteModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title">
                    Delete User
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                  <p>
                    Are you sure you want to
                    <strong>delete</strong>
                    this user:
                    <br>
                    {{ emailUser }}
                  </p>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                  </button>
                  <button
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                    (click)="confirmDelete()">
                    Yes, confirm
                  </button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    } @else {
      <p class="text-muted mt-3">No Users found.</p>
    }
  </div>

} @else {
  <div class="alert alert-danger mt-4">
    Only admins are able to view this page!
  </div>
}
