<div class="login-page fullwidth-container">

  <div class="login-logo text-center" (click)="goToLanding()">
    <img src="assets/brand-icon.svg" class="brand-icon" alt="Ticketline Logo">
    <span class="brand-text">Ticketline</span>
  </div>

  <div class="login-card-outer">

    <div class="login-card-inner">
      <h3 class="mb-4">Welcome back!</h3>

      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <!-- Email -->
        <div class="form-group mb-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="username" required>
        </div>

        <!-- Password -->
        <div class="form-group mb-4">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" required>
        </div>

        <button type="submit" class="btn btn-dark w-100 login-btn" [disabled]= !loginForm.valid>Login</button>
      </form>

      <div class="forgot-text d-flex  mt-3 login-links">
        Account is locked or forgot your password?
        <button class="btn btn-link p-0 ms-2"
                (click)="resetPassword()">Reset Password</button>
      </div>

      <div class="forgot-text d-flex  mt-3 login-links">
        New Here?
        <button class="btn btn-link p-0 ms-2"
                (click)="goToRegister()">Register now!</button>
      </div>

    </div>

  </div>
</div>
